.brand {
  width: 100%;
  background: #fff;
  color: #111;
  font-family: Arial, sans-serif;
}

/* 메인 히어로 */
.brand-hero-scroll {
  height: 240vh;
  position: relative;
}

.brand-main-hero {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: hidden;
  color: #fff;
}



/* 히어로 로고 */
.hero-logo-text {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.hero-logo-text img {
  width: 500px;
  max-width: none;
  height: auto;
  display: block;
  margin-bottom: 10px;
  transform: scale(1.4);
  transform-origin: center;
}

.hero-logo-text h1 {
  font-size: 28px;
  font-weight: 400;
}

/* 히어로 설명 */
.hero-desc {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.hero-desc p {
  font-size: 12px;
  line-height: 2;
  color: #fff;
}

/* 배경 */
.hero-bg {
  position: absolute;
  inset: 0;
  transition: filter 0.15s linear;
}

.hero-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 어두운 오버레이 */
.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.18);
}

/* 중앙 로고 */
.hero-logo-text {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;

  animation: heroFade 1.8s ease both;
}

.hero-logo-text img {
  width: 240px;
}

/* fade-in */
@keyframes heroFade {
  from {
    opacity: 0;
    transform: translate(-50%, -42%);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.hero-copy-window {
  position: absolute;
  left: 50%;
  bottom: 220px;
  width: 680px;
  transform: translateX(-50%);
  overflow: visible;
  z-index: 10;
  text-align: center;
}

/* 스크롤 카피 */
.hero-scroll-copy {
  width: 100%;
  will-change: transform;
}

.hero-scroll-copy p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
}

.hero-scroll-copy.show {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.copy-small {
  font-size: 11px;
  letter-spacing: 4px;
  margin-bottom: 20px;
  opacity: 0.7;
}

.hero-scroll-copy h2 {
  font-size: 42px;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 28px;
}

.copy-desc {
  font-size: 14px;
  line-height: 1.9;
  opacity: 0.8;
}

/* 중간 브랜드 소개 */
.brand-message {
  width: 100%;
  padding: 140px 0 130px;
  text-align: center;
  background: #ffffff;
}

.brand-message img {
  width: 250px;
  margin-bottom: 38px;
}

.brand-message h2 {
  font-size: 42px;
  font-weight: 400;
  color: #222;
  margin-bottom: 28px;
  letter-spacing: -1px;
}

.brand-message p {
  font-size: 15px;
  color: #222;
  letter-spacing: -0.3px;
}

/* 브랜드 스토리 전체 */
.brand-story {
  width: 920px;
  margin: 170px auto 150px;
  display: flex;
  flex-direction: column;
  gap: 110px;
}

/* 스토리 한 줄 */
.story-row {
  display: grid;
  grid-template-columns: 430px 330px;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

/* 두 번째 줄: 텍스트 왼쪽, 이미지 오른쪽 */
.story-row.reverse {
  grid-template-columns: 330px 430px;
}

.story-row.reverse .story-image-bottom {
  grid-column: 2;
  grid-row: 1;
}

.story-row.reverse .story-left {
  grid-column: 1;
  grid-row: 1;
  text-align: right;
}

/* 스토리 이미지 */
.story-image img,
.story-image-bottom img {
  width: 430px;
  height: 330px;
  object-fit: cover;
  display: block;
}

/*텍스트 영역*/
.story-text,
.story-left {
  width: 330px;
}

/* 스토리 제목 */
.story-text h2,
.story-left h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0;
  color: #1c1c1c;
}

/* 스토리 본문 */
.story-text p,
.story-left p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
  color: #1c1c1c;
}

/* 차별점(철학) 섹션 */
.brand-diff {
  width: 1180px;
  margin: 0 auto 180px;
  text-align: center;
}

.brand-diff h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0;
  color: #1c1c1c;
}

/* 가운데 점 */
.diff-dot {
  font-size: 16px;
  color: #1c1c1c;
  margin-bottom: 90px;
  letter-spacing: 6px;
}

/* 카드 전체 */
.diff-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 70px;
}

/* 카드 */
.diff-item {
  width: 340px;
  text-align: left;
}

/* 이미지 */
.diff-item img {
  width: 100%;
  height: 280px;
  object-fit: contain;
  display: block;
  margin-bottom: 44px;
}

/* 카드 제목 */
.diff-item h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  color: #1c1c1c;

}

/* 설명 */
.diff-item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1c1c1c;
  letter-spacing: 0;
}

/* 비디오 섹션 */
.brand-video {
  width: 1400px;
  margin: 0 auto 140px;
  position: relative;
}

.brand-video img {
  width: 100%;
  height: 640px;
  object-fit: cover;
  display: block;
}

.play-button {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.65);
  color: #fff;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 무드 섹션 */
.brand-mood {
  width: 920px;
  margin: 0 auto 190px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 28px;
}

/* 왼쪽 이미지 2개 */
.mood-left {
  width: 590px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.mood-big {
  width: 590px;
  height: 300px;
  object-fit: cover;
  display: block;
}

.mood-wide {
  width: 430px;
  height: 210px;
  object-fit: cover;
  display: block;
  margin-top: 22px;
}

/* 오른쪽 랜턴 + 텍스트 */
.mood-right {
  width: 280px;
  padding-top: 98px;
}

.mood-small {
  width: 280px;
  height: 260px;
  object-fit: cover;
  display: block;
  margin-bottom: 38px;
}

.mood-text {
  width: 280px;
}

.mood-text h2 {
  font-weight: 400;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0;
  color: #1c1c1c;
}

.mood-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
  color: #1c1c1c;
}

/* 오프라인 섹션 */
.offline {
  width: 920px;
  margin: 0 auto;
  padding-bottom: 120px;
  text-align: center;
}

.offline h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0;
  color: #1c1c1c;
}

.offline-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}

.offline-item {
  width: 100%;
  text-align: left;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  display: block;
  transition: 0.3s;
}

.offline-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  display: block;
  margin-bottom: 14px;
}

.offline-item h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0;
  color: #1c1c1c;

}

.offline-item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
  color: #1c1c1c;
}

.offline-item {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  display: block;
}

.offline-item:hover {
  transform: translateY(-4px);
  transition: 0.3s;
}

/* 하단 배너 */
.brand-bottom-banner {
  width: 100%;
  height: 575px;
  position: relative;
  margin-top: 80px;
  overflow: hidden;
}

.brand-bottom-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.brand-bottom-banner button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  padding: 16px 40px;

  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.8);

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);

  color: #fff;

  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 24px !important;
  letter-spacing: 0 !important;

  cursor: pointer;
  transition: all 0.3s ease;
}

.brand-bottom-banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

.bottom-banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.bottom-banner-text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
}

.bottom-banner-text button {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 10px 32px;
  font-size: 13px;
  cursor: pointer;
}

/* 푸터 */
.brand-footer {
  background: #222;
  color: #fff;
  padding: 50px 130px 60px;
}

.brand-footer h2 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 24px;
}

.footer-links {
  display: flex;
  gap: 20px;
  font-size: 12px;
  margin-bottom: 22px;
}

.brand-footer p {
  font-size: 11px;
  line-height: 1.8;
  color: #ccc;
}

/* 큐레이션 바로가기 */
.curation-link-btn {
  margin-top: 32px;
  border: none;
  background: none;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;

  color: #111;
  cursor: pointer;
}

.curation-link-btn:hover {
  opacity: 0.7;
}