.category-page {
  background: #f7f4ef;
  color: #111;
}

.category-hero {
  height: 300px;
  background: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
}

.category-menu {
  height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 65px;
}

.category-menu-item {
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}
/* 호버 효과 */
.category-menu-item:hover {
  transform: translateY(-5px);
}

.category-menu-circle {
  width: 84px;
  height: 84px;
  background: #d9d9d9;
  border-radius: 50%;
  margin-bottom: 18px;
}

.category-wrap {
  max-width: 1160px;
  margin: 0 auto;
  padding-bottom: 140px;
}

.category-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  font-size: 13px;
}

.category-filter {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.category-filter select {
  border: none;
  background: #eee;
  padding: 4px 8px;
}

.category-sub-filter {
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
}

.category-sub-filter button {
  border: 1px solid #ddd;
  background: #fff;
  padding: 9px 18px;
  border-radius: 999px;
  cursor: pointer;
  font-size: 14px;
}

.category-sub-filter button.active {
  background: #111;
  color: #fff;
  border-color: #111;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 95px 58px;
}

.category-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.category-card h3 {
  margin: 20px 0 10px;
  font-size: 18px;
}

.category-img {
  width: 100%;
  height: 250px;
  background-color: #f2f2f2;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-img.soldout {
  background: #aaa;
  opacity: 0.6;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.category-old-price {
  margin: 0;
  color: #777;
  text-decoration: line-through;
}

.category-price {
  margin: 6px 0 14px;
  font-size: 20px;
}

.category-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-bottom div {
  display: flex;
  gap: 14px;
  font-size: 22px;
}

.category-more-btn {
  display: block;
  margin: 120px auto 0;
  border: none;
  background: #d9d9d9;
  padding: 14px 28px;
  font-size: 18px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .category-menu {
    justify-content: flex-start;
    overflow-x: auto;
    padding: 0 24px;
  }

  .category-wrap {
    padding: 0 24px 100px;
  }

  .category-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 20px;
  }
}