/* 큐레이션 페이지 */
.curation-page {
  width: 100%;
  background: #1f1f1f;
}
/* 전체 영역 */
.curation-hero-wrap {
  position: relative;
}

/* sticky 영상 */
.curation-hero {
  position: sticky;
  top: 0;

  width: 100%;
  height: 100vh;

  overflow: hidden;
}

/* 영상 */
.curation-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 어두운 overlay */
.curation-hero-dark {
  position: absolute;
  inset: 0;

  background: rgba(0, 0, 0, 0.42);

  z-index: 1;
}

/* 텍스트 */
.curation-hero-text {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  z-index: 2;

  color: white;
  text-align: center;
}

.curation-hero-text h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 1.4;
}

/* 영상 위를 덮는 콘텐츠 */
.curation-content {
  position: relative;
  z-index: 5;

  background: white;

  border-radius: 30px 30px 0 0;

  margin-top: -80px;
}


/* 흰색 아이콘 박스 */
.curation-intro {
  width: 100%;
  height: 650px;
  background: #fff;
  border-radius: 22px 22px 0 0;
  margin-top: -28px;
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 140px;
  padding: 40px 40px 35px;
}

.curation-intro-box {
  width: 220px;
  text-align: center;
  color: #222;
}

.curation-intro-box img {
  width: 200px;
  height: auto;
  object-fit: contain;
  margin-bottom: 22px;
}

.curation-intro-box h3 {
  font-size: 16px;
  margin-bottom: 14px;
  font-weight: 700;
  line-height: 1.45;
  color: #111;
  white-space: nowrap;
}

.curation-intro-box p {
  font-size: 11px;
  line-height: 1.8;
  color: #555;
}

/* 큐레이션 카드 */
.curation-card {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;

  background-size: cover;
  background-position: center;

  padding: 0 12%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: white;
}

.curation-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.38);
}

.curation-card-text,
.curation-link {
  position: relative;
  z-index: 2;
}

.curation-card h3 {
  font-size: 27px;
  line-height: 1.45;
  font-weight: 500;
}

/* 버튼 */
.curation-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 150px;
  height: 42px;

  border: 1px solid white;
  border-radius: 30px;

  color: white;
  text-decoration: none;
  font-size: 14px;

  background: transparent;
  transition: 0.3s;
}

.curation-link:hover {
  background: white;
  color: #111;
}

/* 카드 배경 이미지 */
.fire-card {
  background-image: url("/images/curation/curation2-1.jpg");
}

.car-card {
  background-image: url("/images/curation/curation2-2.jpg");
}

.minimal-card {
  background-image: url("/images/curation/curation2-3.jpg");
}



/* 모바일 */
@media (max-width: 700px) {
  .curation-hero-text h2 {
    font-size: 22px;
  }

  .curation-intro {
    height: auto;
    flex-direction: column;
    gap: 45px;
    padding: 70px 20px;
  }

  .curation-card {
    height: 280px;
    padding: 50px 8%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 35px;
  }

  .curation-card h3 {
    font-size: 22px;
  }
}