.search-page {
  width: 100%;
  min-height: 100vh;
  background: #fff;
  color: #111;
}

.search-main {
  width: 80%;
  max-width: 1240px;
  margin: 0 auto;
}

.breadcrumb {
  font-size: 10px;
  margin-top: 35px;
}

.search-section {
  text-align: center;
  margin-top: 70px;
}

.search-section h2 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}

.search-box {
  width: 365px;
  height: 38px;
  margin: 0 auto;
  background: #a8ddcf;
  border-radius: 999px;
  display: flex;
  align-items: center;
  padding: 0 15px 0 22px;
}

.search-box input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
}

.search-box input::placeholder{
  color: #fff;
  opacity: 1;
}

.search-box svg {
  color: #fff;
}

.line {
  width: 100%;
  height: 1px;
  background: #ddd;
  margin-top: 70px;
}

.product-area {
  margin-top: 60px;
}

.product-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-top p,
.filter span,
.filter button,
.filter select {
  font-size: 10px;
}

.filter {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter button,
.filter select {
  border: none;
  background: transparent;
  cursor: pointer;
}

.product-list {
  margin-top: 55px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px 42px;
}

.product-card {
  width: 100%;
}

.image-box {
  width: 100%;
  height: 185px;
  border-radius: 12px;
  background-color: #f2f2f2;
}

.product-info {
  position: relative;
  margin-top: 14px;
}

.product-info h3 {
  font-size: 11px;
  font-weight: 600;
  margin-bottom: 8px;
}

.product-info p {
  font-size: 10px;
  margin-bottom: 8px;
}

.product-info strong {
  display: block;
  font-size: 11px;
  font-weight: 600;
}

.card-icons {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  gap: 12px;
}

.search-footer {
  width: 100%;
  height: 170px;
  background: #000;
  margin-top: 390px;
}

.no-result {
  text-align: center;
  margin-top: 80px;
  font-size: 14px;
  color: #777;
}

.cart-icon-wrap {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.cart-dot {
  position: absolute;
  right: -3px;
  bottom: -2px;
  width: 7px;
  height: 7px;
  background: red;
  border-radius: 50%;
}