.cart-icon-wrap {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.cart-dot {
  position: absolute;
  right: -2px;
  bottom: 2px;

  width: 8px;
  height: 8px;

  background: red;
  border-radius: 50%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 170px;
  height: auto;
  object-fit: contain;
}

/* 기본 헤더 */

.campora-header {
  width: 100%;
  height: 70px;
  background: transparent !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
}

.logo {
  width: 170px;
  height: 70px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  left: 120px;
  transform: translateY(0);
}

.logo-img {
  width: 150px;
  height: auto;
  display: block;
  object-fit: contain;
}

.gold.logo {
  height: 54px;
}
.campora-nav {
  display: flex;
  gap: 55px;
  align-items: center;
}

.campora-nav a {
  color: #000000 !important;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  white-space: nowrap;

  transition: 0.3s;
}

.campora-nav a:hover {
  color: #696969 !important;
  opacity: 0.5;
}

.header-icons {
  display: flex;
  gap: 25px;
  align-items: center;
}

.header-icons a {
  color: #000000 !important;
  text-decoration: none;

  transition: 0.3s;
}

.header-icons a:hover {
  color: #696969 !important;
}

/* 브랜드 페이지 전용 */

.brand-header {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;

  background: transparent !important;
  z-index: 999;
}

/* 메뉴 흰색 */

.brand-header .campora-nav a {
  color: #fff !important;
}

/* 아이콘 흰색 */

.brand-header .header-icons a {
  color: #ffffff !important;
}






/* 장바구니 */
.search-icon-wrap,
.cart-icon-wrap {
  position: relative;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon {
  width: 27px;
  height: 27px;
  display: block;
}

.cart-icon {
  width: 31px;
  height: 31px;
  display: block;
}

.cart-icon path{
  fill: none;
  stroke: currentColor;
}

.cart-icon circle {
  fill: currentColor;
}

/* 장바구니 숫자 */
.cart-count {
  position: absolute;
  top: -7px;
  right: -7px;
  width: 17px;
  height: 17px;
  background: #67b8ae;
  color: #fff;
  border-radius: 50%;
  font-size: 11px;
  font-weight: 700;
  line-height: 17px;
  text-align: center;
}

