.cart-icon-wrap {
  position: relative;
  text-decoration: none;
  color: inherit;
}

/* 공통 헤더 */

.campora-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  z-index: 9999;
  /* overflow: hidden; */
  
  transition:
    transform 0.3s ease,
    border-color 0.3s ease;
  border-bottom: none !important;
}

.logo {
  width: 170px;
  height: 70px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  left: 120px;
}

.campora-nav {
  width: 750px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.campora-nav a {
  font-weight: 400 !important;
  width: 120px;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 14px;

  font-size: 18px;


  text-decoration: none;
  white-space: nowrap;
  opacity: 1;

  transition: all 0.2s ease;
}


.campora-nav a:hover,
.campora-nav a.active {
  /* text-shadow: 0 0 0.5px currentColor, 0 0 0.5px currentColor;  */
  font-weight: 700 !important;

}

/* 스크롤 시 반투명 헤더 */

.scrolled-header {
  background: rgba(255, 255, 255, 0.45) !important;

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(16px);

  border-bottom: 1px solid rgba(255,255,255,0.08);

  transition:
    background 0.3s ease,
    backdrop-filter 0.3s ease,
    border-color 0.3s ease;
}

.header-icons {
  display: flex;
  gap: 25px;
  align-items: center;
  border-bottom: none !important;
}

.header-icons a {
  color: #000000 !important;
  text-decoration: none;

  transition: 0.3s;
}


/* 투명 헤더 */

.transparent-header {
  background: transparent !important;
  border-bottom: 1px solid transparent;
}

/* 메뉴 흰색 */

.transparent-header .campora-nav a,
.transparent-header .header-icons a,
.transparent-header .logo {
  color: #ffffff !important;
}
.default-header {
  background: #ffffff !important;
  border-bottom: none !important;
    background: rgba(255,255,255,0.45) !important;

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  border-bottom: 1px solid rgba(0,0,0,0.08);
}


/* 메뉴 검정 */

.default-header .campora-nav a,
.default-header .header-icons a,
.default-header .logo {
  color: #1C1C1C !important;
}




/* 장바구니 */
.search-icon-wrap,
.cart-icon-wrap {
  position: relative;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon {
  width: 27px;
  height: 27px;
  display: block;
}

.cart-icon {
  width: 31px;
  height: 31px;
  display: block;
}

.cart-icon path{
  fill: none;
  stroke: currentColor;
}

.cart-icon circle {
  fill: currentColor;
}

/* 장바구니 숫자 */
.cart-count {
  position: absolute;
  top: -7px;
  right: -7px;
  width: 17px;
  height: 17px;
  background: #67b8ae;
  color: #fff;
  border-radius: 50%;
  font-size: 11px;
  font-weight: 700;
  line-height: 17px;
  text-align: center;
}
/* 투명 헤더 스크롤 후 */
.transparent-scrolled .campora-nav a,
.transparent-scrolled .header-icons a,
.transparent-scrolled .logo {
  color: #1C1C1C !important;
}
/* 100vh 이후 글자 검정 */

.dark-text-header .campora-nav a,
.dark-text-header .header-icons a,
.dark-text-header .logo {
  color: #1C1C1C !important;
}